<form class="botSevakForm js-form" id="botSevakForm-main" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <input type='hidden' name='driver' value='web'/>
    <input type='hidden' name='userId' value=''/>
    <input type='hidden' name='interactive' value='1'/>

    <div class="js-form-alerts"></div>
    <div class="row">
        <div class="col-xs-10 col-sm-10">
            <input name="message" class="userChatText textarea" type="text" placeholder="Send a message..." autofocus="" autocomplete="off" style="background-color:lightgray cursor: auto;">
        </div>
        <div class="col-xs-2 col-sm-2">
            <button type="submit" class="btn btn-block btn-lg btn-success">Send</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <div id="botmanChatRoot">
                        <div>
                            <div id="messageArea">
                                <ol class="chat" style="height: 376px;"></ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-10">
            <div id="applicationArea"></div>
        </div>
    </div>
</form>
